# Python stuff
venv/
__pycache__/
*.pyc

# Environment variables
.env

# Node stuff
node_modules/
dist/
dist-ssr/

# VSCODE
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Not pushing the audio files 
*.wav
*.webm

# The docker stuff
.docker/
docker-compose.override.yml
*.log
data/
.docker-compose/
docker-compose.override.yaml
docker-compose.override.yml